- genre = genre

= form_for genre do |g|
  .text.large.flex-container.margin-mf
    .flex-expanded
    = g.label :name, "genre: ", class: "margin-m-r"
    = g.text_field :name, style: "width: auto", size: "50", class: "margin-m-r form"
    .flex-expanded
