- discovery = discovery

.flex-container.width-50
  .flex-expanded

  %ul
    .text.normal
      = discovery.content
    .text.xsmall{style: "align-self: flex-end;"}
      = discovery.created_at.strftime('%m/%d %H:%M:%S')

  .flex-expanded

