- discovery = discovery

.margin-m.padding-s{style: "border: 1px solid black;"}
  .text.normal
    = discovery.content
  .text.small.margin-s-b
    genres:
    - discovery.genres.each do |g|
      %span.circle{style: "background-color: red;"}= g.name
  .text.xsmall
    = discovery.created_at.strftime('%m/%d %H:%M')
