- discovery = discovery

.margin-s{style: "padding: 0.5em 1em; background: #dcf7f0; border-left: solid 10px #42f4c8;"}
  .text.normal
    = simple_format(discovery.content)
  .text.small.margin-s-b
    genres:
    - discovery.genres.each do |g|
      %span.circle{style: "background-color: red;"}= g.name
  .text.xsmall
    = discovery.created_at.strftime('%m/%d %H:%M')
