$xsmall: 0.6rem;
$small: 0.8rem;
$normal: 1rem;
$large: 1.2rem;
$xlarge: 1.4rem;

$theme-color: #42f4c8;
$white: #ffffff;
$black: #111111;

.body{
  margin: 0rem;
}

.link-none{
  text-decoration: none;
}

.width-30{
  width: 30%;
}

.width-70{
  width: 70%;
}

.circle {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 4px;
}

.header{
  background: $theme-color;
  display: flex;
  align-items: center;
  color: $white;
}