@import "common";

.text{

  &.xsmall{
    font-size: $xsmall;
  }
  &.small{
    font-size: $small
  }
  &.large{
    font-size: $large
  }
  &.xlarge{
    font-size: $xlarge;
  }
  &.center{
    text-align: center;
  }
  &.center{
    text-align: center;
  }
  &.bold{
    font-weight: bold;
  }

  &.right{
    text-align: right;
  }

  &.left{
    text-align: left;
  }
}
