@import "common";

.text{
  &.red{
    color: red;
  }
  &.small{
    font-size: $small
  }
  &.large{
    font-size: $large
  }
  &.center{
    text-align: center;
  }
  &.center{
    text-align: center;
  }
  &.bold{
    font-weight: bold;
  }
}
