.div.margin-m
  %span.overflow-hidden
    .text.red.large.float.left
      Serendippy


    .flex-container.right

      .btn.text.large
        = link_to("Discovery", new_discovery_path)
      .btn.text.large
        Edit